.site-footer {
    padding: 2rem 0 3.5rem 0;
    background-image: linear-gradient(#fff, #ececec);
}

.site-footer__inner {
    border-top: 1px dotted #dedede;
    padding-top: 3.5rem;
}

.site-footer p {
    font-size: 0.9rem;
}

.site-footer__col-one {
    text-align: left;
    width: 33%;
    float: left;
}

.school-logo-text--alt-color a {
    color: #666;
}

.t-center {
    text-align: center;
}