.site-header {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    background-color: #002879;
}


.school-logo-text {
    position: relative;
    z-index: 20;
    margin: 0;
    font-size: 1.75rem;
    font-weight: 100;
}

.school-logo-text a {
    color: #fff;
    text-decoration: none;
}

.float-left {
    float: left;
}

.push-right {
    margin-right: 20px;
}

b, strong {
    font-weight: bolder;
}

.school-logo-text strong {
    font-weight: 400;
}

.site-header__search-trigger {
    display: none;
}

.site-header__search-trigger {
    top: 4px;
    font-size: 1.4rem;
}

.site-header__search-trigger {
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    position: absolute;
    top: 6px;
    right: 16px;
}

.site-header__menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
    position: static;
    background-color: transparent;
    float: right;
    padding-top: 0;
    padding-bottom: 0;
    top: 0;
}

.site-header__menu-trigger {
    top: 5px;
    font-size: 1.4rem;
}

.main-navigation {
    float: left;
    margin-right: 20px;
    padding-top: 2px;
}

.main-navigation li {
    float: left;
    padding-left: 20px;
    list-style: none;
}

.main-navigation ul {
    padding: 0;
    margin: 0;
}

.main-navigation a {
    display: inline-block;
    padding: 0;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.main-navigation .current-menu-item a, .main-navigation a:hover {
    color: #FAF0CA;
}

p, ul, ol {
    margin: 0 0 1.65em 0;
}

ol, ul {
    box-sizing: border-box;
}

p, li {
    line-height: 1.65;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.site-header__util {
    padding: 0;
    float: right;
}

.btn--dark-orange {
    background-color: #F95738;
}

.btn--small {
    font-size: 0.88rem;
    padding: 7px 13px;
    font-weight: 300;
}

.site-header .btn--with-photo {
    margin-right: 0;
}

.btn--orange {
    background-color: #EE964B;
}

.btn--with-photo {
    padding-left: 40px;
    position: relative;
}

.site-header__avatar {
    position: absolute;
    top: 4.5%;
    left: 5%;
}

.site-header__avatar img {
    display: block;
    width: 30px;
    height: 30px;
}

.view-profile-button {
    background-color: #F95738;
    color: #fff;
    text-decoration: none;
}
.logout-button, .login-button {
    color: #fff;
    text-decoration: none;
    background-color: #EE964B;
}