.login-page {
  background-color: #FAF0CA;
}
.login-direct {
      margin: 0;
      font-family: "Kairos W04 Extended Bold";
      font-weight: 300;
      font-size: 8rem;
    }
.login-container {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.email-log-container, 
.psw-log-container {
  font-family: "Moveo Sans w00 Regular";
  margin: 50px 0 50px 50px;
  position: relative;
  padding-left: 15px;
  display: flex;
}
.email-log, .psw-log {
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  margin: 0;
  font-size: 20px;
}
.email-log-input, .psw-log-input {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}
.login-full-container {
  margin: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.login-dc {
  background-color: #F95738;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 50px;
  text-decoration: none;
}
.forgot-password {
  text-decoration: none;
  color: #F95738;
  font-size: 15px;
  font-family: "Moveo Sans w00 Regular";
  font-style: normal;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 15px;
}